<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9" style = "padding: 0px 5px 0px 0px">
      <div class = "example2">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#"><img src="assets/images/logo.png"></a>
            </div>
            <ul class="nav navbar-nav">
              <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
              <li><a routerLink="/productos" routerLinkActive="active">Productos</a></li>
              <li *ngIf = "!Comprobar() || ( Comprobar() && ObtenerUsuario().tipo != 'Administrador')"><a routerLink="/locales" routerLinkActive="active">Locales</a></li>
              <li *ngIf = "Comprobar() && ObtenerUsuario().tipo == 'Administrador'"><a routerLink="/lista-locales" routerLinkActive="active">Locales</a></li>
              <li><a routerLink="/pedidos" routerLinkActive="active">Pedidos</a></li>
              <li *ngIf = "Comprobar() && ObtenerUsuario().tipo == 'Administrador'"><a routerLink="/usuarios" routerLinkActive="active">Usuarios</a></li>
              <li *ngIf = "Comprobar() && ObtenerUsuario().tipo == 'Administrador'"><a routerLink="/estadisticas" routerLinkActive="active">Estadisticas</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="col-sm-3" style = "padding: 0px 0px 0px 5px">
      <div class = "example2">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid" *ngIf = "Comprobar()">
            <div class="navbar-header">
              <a class="navbar-brand"><img [src] = "'http://www.romerofederico.hol.es/pizza/ws/img/usuarios/' + ObtenerUsuario().img" class="img-circle"></a>
            </div>
            <ul class="nav navbar-nav">
              <li><p class="navbar-text"><small>{{ObtenerUsuario().apellido}}, {{ObtenerUsuario().nombre}}</small></p></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item" title = "Panel de Control">
                <a routerLink="/panel" routerLinkActive="active" style = "padding-right: 10px;padding-left: 10px"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item" title = "Historial">
                <a routerLink="/historial" routerLinkActive="active" style = "padding-right: 10px;padding-left: 10px"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item" title = "Logout">
                <a [routerLink]="[]" (click)="salir()" routerLinkActive="active" style = "padding-right: 10px;padding-left: 10px"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
          <div class="container-fluid" *ngIf = "!Comprobar()">
            <div class="navbar-header">
              <a class="navbar-brand"><img src="assets/images/default.png" class="img-circle"></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a routerLink="/login" routerLinkActive="active">Iniciar Sesion</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>