<div class = "container-fluid contenedorPrincipal">
    <div class = "contenedorObjetos">
        <blockquote style = "color: white">
            <h2>Nuestros Locales.</h2>
            <footer>Haz un pedido o ven a conozernos !!!</footer>
        </blockquote>
        <hr>
        <div class="row content principal">
            <div class="col-sm-6 slider">
                <div class="centrar">
                    <div #map id="map"></div>
                </div>
            </div>
            <div class="col-sm-6" *ngIf = "local != null">
            <div class="panel panel-danger informacion">
                <div class="panel-heading">
                    <h3 class="panel-title">Informacion del Local</h3>
                </div>
                <div class="row content row-eq-height">
                    <div class="col-sm-6 slider" >
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                <li data-target="myCarousel" data-slide-to="0" [class]="active1" (click)="cambiar(1)"></li>
                                <li data-target="myCarousel" data-slide-to="1" [class]="active2" (click)="cambiar(2)"></li>
                                <li data-target="myCarousel" data-slide-to="2" [class]="active3" (click)="cambiar(3)"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">

                                <div [class]="item1">
                                    <img [src]="'assets/images/locales/' + local.img1" alt="Los Angeles" class = "img-responsive">
                                </div>

                                <div [class]="item2">
                                    <img [src]="'assets/images/locales/' + local.img2" alt="Chicago" class = "img-responsive">
                                </div>

                                <div [class]="item3">
                                    <img [src]="'assets/images/locales/' + local.img3" alt="New York" class = "img-responsive">
                                </div>

                                </div>

                                <!-- Left and right controls -->
                                <a class="left carousel-control" (click)="anterior()">
                                <span class="glyphicon glyphicon-chevron-left"></span>

                                </a>
                                <a class="right carousel-control" (click)="posterior()">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                    </div>
                    <div class="col-sm-6 slider" >
                            <div>
                                <blockquote style = "color: #d9534f">
                                    <h2>{{local.direccion}}</h2>
                                    <footer><span class="glyphicon glyphicon-flag"></span> {{local.localidad}}</footer>
                                    <footer *ngIf = "distancia != null"><span class="glyphicon glyphicon-road"></span> Distancia {{distancia.text}}</footer>
                                    <footer *ngIf = "duracion != null"><span class="glyphicon glyphicon-time"></span> Tiempo {{duracion.text}}</footer>
                                </blockquote>
                            </div>
                            <div class  = "panelInfoLocal">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Info General: </h3>
                                </div>
                                <div class="panel-body">
                                    <p><span class="glyphicon glyphicon-phone-alt"></span> Telefono : <small>{{local.telefono}}</small></p>
                                    <p><span class="glyphicon glyphicon-eye-open"></span> Capacidad : <small>{{local.capacidad}}</small></p>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
                <div class="row content slider informacion row-eq-height">
                    <div class = "col-sm-6">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">Opciones</h3>
                            </div>
                            <div class="panel-body">
                                <button type="button" class = 'btn btn-lg btn-block btn-danger'>
                                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Pedir
                                </button>
                                <button type="button" class = 'btn btn-lg btn-block btn-danger'>
                                    <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> Reservar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class = "col-sm-6">
                        <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Informacion del Gerente</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="media"><div class="media-left media-top">
                                        <img class="media-object" [src] = "'assets/images/' + 'default.png'" style = "  display: block; max-width:100px; max-height:100px; width: auto; height: auto;">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">APELLIDO, NOMBRE</h4>
                                        <p><span class="glyphicon glyphicon-phone-alt"></span> Mail : <small>EMAIL</small></p>
                                        <p><span class="glyphicon glyphicon-envelope"></span> Tel. : <small>TELEFONO</small></p>
                                    </div>
                                    </div>
                                </div>
                        </div>  
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
