<div class = "container-fluid contenedorPrincipal">
<div class = "contenedorObjetos">
  <div class = "row">
    <div class = "col-sm-5">
      <blockquote style = "color: white">
        <h2>Nuestros Productos.</h2>
        <footer>Nuestro Menu, <cite title="Source Title">Nuestra Identidad</cite></footer>
      </blockquote>
    </div>

    <div class = "col-sm-7" *ngIf = "(!Comprobar() || (Comprobar() && ObtenerUsuario().tipo == 'Cliente')) && localesCargados != null && locales != null && productosBase != null" style = "margin-bottom: 10px;">
      <div class = "row">
        <div class = "col-sm-3">
          <img src = "http://www.romerofederico.hol.es/pizza/ws/img/locales/default.png" style = "display: block; max-width:120px; max-height:120px; width: auto; height: auto;">
        </div>
        <div class = "col-sm-9">
        <h3 style = "color:white; font-style: italic">Seleccione un local : </h3>
        <ss-multiselect-dropdown [options]="myOptions" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="optionsModel" (ngModelChange) = "SeleccionDeLocal()"></ss-multiselect-dropdown>
        </div>
      </div>
    </div>
    <div class = "col-sm-5" *ngIf = "(Comprobar() && (ObtenerUsuario().tipo == 'Empleado' || ObtenerUsuario().tipo == 'Encargado')) && localDelUsuario != null" style = "margin-bottom: 10px;">
      <div class = "row">
        <div class = "col-sm-3">
          <img src = "http://www.romerofederico.hol.es/pizza/ws/img/locales/default.png" style = "display: block; max-width:120px; max-height:120px; width: auto; height: auto;">
        </div>
        <div class = "col-sm-9">
        <h3 style = "color:white; font-style: italic">{{localDelUsuario.direccion + ", " + localDelUsuario.localidad}}</h3>
        </div>
      </div>
    </div>

    <div class = "col-sm-2" *ngIf = "(Comprobar() && (ObtenerUsuario().tipo == 'Empleado' || ObtenerUsuario().tipo == 'Encargado')) && localDelUsuario != null && productosBase != null" style = "margin-bottom: 10px;">
      <button type="button" class="btn btn-success miPuntero" [disabled] = "cargando != null" (click) = "AlternarRegistro()">
        <i *ngIf = "registrar == null" class = "fa fa-fw fa-plus-square-o fa-5x" title = "Agregar producto"></i>
        <i *ngIf = "registrar != null" class = "fa fa-fw fa-chevron-circle-left fa-5x" title = "Volver al listado"></i>
      </button>
    </div>
  </div>
  <hr *ngIf = "registrar == true">
  <div *ngIf = "registrar == null">
    <div class="btn-group btn-group-justified" role="group" aria-label="..." style = "margin-bottom: 20px"  *ngIf = "(!Comprobar() || (Comprobar() && ObtenerUsuario().tipo == 'Cliente')) && productosBase != null && locales != null && localesCargados != null">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-success" (click) = "Mostrar('todos')">Todos</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-danger" (click) = "Mostrar('Pizza')">Pizzas</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-warning" (click) = "Mostrar('Empanadas')">Empanadas</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-info" (click) = "Mostrar('Combo')">Combos</button>
      </div>
    </div>
    <div class="btn-group btn-group-justified" role="group" aria-label="..." style = "margin-bottom: 20px"  *ngIf = "Comprobar() && (ObtenerUsuario().tipo == 'Empleado' || ObtenerUsuario().tipo == 'Encargado') && localDelUsuario != null && productosBase != null">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-success" (click) = "Mostrar('todos')">Todos</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-danger" (click) = "Mostrar('Pizza')">Pizzas</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-warning" (click) = "Mostrar('Empanadas')">Empanadas</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-info" (click) = "Mostrar('Combo')">Combos</button>
      </div>
    </div>
  </div>

<app-agregar-producto *ngIf = "registrar == true" [Local] = "localDelUsuario" [Producto] = "modificar" (onRegistrado) = "CapturarEventoRegistrado($event)"></app-agregar-producto>

<div class="" *ngIf = "registrar == null">

  <div class = "col-sm-12 cargando parent" *ngIf = "(!Comprobar() || (Comprobar() && ObtenerUsuario().tipo == 'Cliente')) && (productosBase == null || locales == null || localesCargados == null) && (errorProductos == null && errorLocales == null && errorProductosLocales == null)">
                <div class = "child">
                    <i class="fa fa-cog fa-spin fa-5x fa-fw" style = "color: white"></i><br>
                    <h2 style = "color: white">Cargando Productos</h2>
                </div>
  </div>

  <div class = "col-sm-12 cargando parent" *ngIf = "Comprobar() && (ObtenerUsuario().tipo == 'Empleado' || ObtenerUsuario().tipo == 'Encargado') && (localDelUsuario == null || productosBase == null) && errorUsuarioSinLocal == null && errorCargarLocalDelUsuario == null && errorProductos == null">
                <div class = "child">
                    <i class="fa fa-cog fa-spin fa-5x fa-fw" style = "color: white"></i><br>
                    <h2 style = "color: white">Cargando Productos de su Local</h2>
                </div>
  </div>

  <div class = "col-sm-12 cargando parent" *ngIf = "(!Comprobar() || (Comprobar() && ObtenerUsuario().tipo == 'Cliente')) && (errorProductos != null || errorLocales != null || errorProductosLocales != null)">
                <div class = "child">
                    <i class="fa fa-exclamation-triangle fa-5x fa-fw" style = "color: white"></i><br>
                    <h3 style = "color: white">Ocurrio un error al cargar los datos</h3>
                    <h2 style = "color: white; cursor: pointer" (click) = "Reintentar()">Reintentar</h2>
                </div>
  </div>

  <div class = "col-sm-12 cargando parent" *ngIf = "Comprobar() && (ObtenerUsuario().tipo == 'Empleado' || ObtenerUsuario().tipo == 'Encargado') && (errorCargarLocalDelUsuario != null || errorProductos != null)">
                <div class = "child">
                    <i class="fa fa-exclamation-triangle fa-5x fa-fw" style = "color: white"></i><br>
                    <h3 style = "color: white">Ocurrio un error al cargar los datos</h3>
                    <h2 style = "color: white; cursor: pointer" (click) = "ReintentarOficial()">Reintentar</h2>
                </div>
  </div>

  <div class = "col-sm-12 cargando parent" *ngIf = "Comprobar() && (ObtenerUsuario().tipo == 'Empleado' || ObtenerUsuario().tipo == 'Encargado') && (errorUsuarioSinLocal != null)">
                <div class = "child">
                    <i class="fa fa-exclamation-triangle fa-5x fa-fw" style = "color: white"></i><br>
                    <h3 style = "color: white">No hay productos para mostrar, ya que no tienes un local asignado.</h3>
                </div>
  </div>

  <div class="row" *ngIf = "(productosBase != null && locales != null && localesCargados != null) || (productosBase != null && localDelUsuario != null)">
    <div [ngClass] = "columnasProductos" *ngFor = "let producto of productos; let i=index">
      <div [ngClass] ="producto.tipo == 'Pizza'? 'panel panel-danger' : (producto.tipo == 'Empanadas'? 'panel panel-warning':'panel panel-info')">
        <div class="panel-heading">{{producto.tipo}}</div>
        <div class="panel-body">
          <div class="thumbnail">
            <div class='product-holder'>
              <img [src]="'http://www.romerofederico.hol.es/pizza/ws/img/productos/' + producto.img" class="img-responsive" style="width:100%" alt="Image">
              <img *ngIf = "ComprobarPromo(producto.promocion)" title = "Dia de Promocion" src="assets/images/promo.png" width="75px" height="75px" class = "plus-image pulse animated infinite">
            </div>
            <div class="caption">
              <div style="height:100px;">
              <h5><strong>{{producto.descripcion}}</strong></h5>
              </div>
              <!--<div *ngIf = "producto.locales != null" >
              <p><span class="glyphicon glyphicon-home"></span> Locales :</p> 
              <div style="height:100px;">
              <p *ngFor = "let local of producto.locales" style = "padding: 0px; margin: 0px">
                <small>{{local.direccion}}, {{local.localidad}}.</small>
              </p>
              </div>
              </div>-->
              <p class="text-right" *ngIf = "!ComprobarPromo(producto.promocion)">Precio: <small>{{producto.precio}}$</small></p>
              <p class="text-right" *ngIf = "ComprobarPromo(producto.promocion)">Precio: <small>{{producto.precio * 0.75}}$</small></p>
            </div>
          </div>
          <button type="button" *ngIf = "Comprobar() && (ObtenerUsuario().tipo == 'Empleado' || ObtenerUsuario().tipo == 'Encargado')" [ngClass] ="'btn btn-lg btn-block responsive-width ' + (producto.tipo == 'Pizza'? 'btn-danger' : (producto.tipo == 'Empanadas'? 'btn-warning':'btn-info'))" (click)="HacerPedido(producto)" >
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><small> Pedir</small>
          </button>
          <button type="button" *ngIf = "Comprobar() && ObtenerUsuario().tipo == 'Encargado'" [ngClass] ="'btn btn-lg btn-block responsive-width ' + (producto.tipo == 'Pizza'? 'btn-danger' : (producto.tipo == 'Empanadas'? 'btn-warning':'btn-info'))" (click)="Modificar(producto)" >
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><small> Modificar</small>
          </button>
          <button *ngIf = "!Comprobar()" type="button" [ngClass] ="'btn btn-lg btn-block responsive-width ' + (producto.tipo == 'Pizza'? 'btn-danger' : (producto.tipo == 'Empanadas'? 'btn-warning':'btn-info'))">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><small> Necesitas estar logueado para pedir</small>
          </button>
          <button *ngIf = "Comprobar() && ObtenerUsuario().tipo == 'Cliente'" type="button" (click) = "EnviarAlCarrito(producto)" [ngClass] ="'btn btn-lg btn-block responsive-width ' + (producto.tipo == 'Pizza'? 'btn-danger' : (producto.tipo == 'Empanadas'? 'btn-warning':'btn-info'))">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><small> Pedir</small>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
