.fondo {
        background-image: url(../assets/images/fondo.png);
        /*background-size: cover;*/
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

.info {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: white;
}

.imgGithub {
    width: 100%;
}

.filaCentrada {
    display: flex;
    align-items: center;
}

.vista {
    width: 100%;
    height: 525px;
    overflow-y: scroll;
    overflow-x:hidden;
}

@media screen and (min-width: 767px) {
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
    }

}

.table > tbody > tr > td {
     vertical-align: middle;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    color: black;
}

i {
    cursor: pointer;
}

.incrementar:hover {
    color : green;
}

.borrar:hover,
.decrementar:hover {
    color : red;
}
