<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

<div class = "fondo">
<app-menu (onMostrarCarrito) = "CapturarEventoMostrarCarrito($event)" (onLogout) = "CapturarLogout($event)"></app-menu>
<div class = "row" style = "width: 100%; padding: 0; margin: 0">
    <div [ngClass] = "principal">
        <div class = "vista">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class = "col-sm-3 animated slideInRight" *ngIf = "mostrarCarrito != null" style = "padding: 5px;">
        <div style = "background-color: white; opacity: 1; padding: 15px; border-radius: 10px;">

            <div class="row" style = "min-height: 480px; max-height: 480px;" *ngIf = "cargandoPedido != null">

               <div>

                    <div class = "col-sm-12 cargando parent" style = "height: 450px;">
                        <div class = "child">
                            <i class="fa fa-cog fa-spin fa-4x" style = "color: #222"></i>
                            <h4 style = "color: #222">Procesando pedido...</h4>
                            <h5 style = "color: #222">Espere un momento</h5>
                        </div>
                    </div>

                </div> 

            </div>

            <div class="row" style = "min-height: 480px; max-height: 480px;" *ngIf = "cargandoPedido == null">

                <div *ngIf = "exitoAlCargarPosicion == null">

                    <div class = "col-sm-12 cargando parent" style = "height: 450px;">
                        <div class = "child">
                            <i class="fa fa-cog fa-spin fa-4x" style = "color: #222"></i>
                            <h4 style = "color: #222">Cargando direcciones...</h4>
                            <h5 style = "color: #222">Espere un momento antes de realizar un pedido</h5>
                        </div>
                    </div>

                </div>

                <div *ngIf = "productos == null && exitoAlCargarPosicion != null">

                    <div class = "col-sm-12 cargando parent" style = "height: 450px;">
                        <div class = "child">
                            <i class="fa fa-cart-arrow-down fa-4x" style = "color: #222"></i>
                            <h4 style = "color: #222">No se han cargado productos</h4>
                            <h5 style = "color: #222">Cargue un producto desde la pagina Locales o Productos</h5>
                        </div>
                    </div>

                </div>

                <div *ngIf = "productos != null && exitoAlCargarPosicion != null" style = "height: 450px;">

                    <div class = "row">
                        <div class = "col-sm-2">
                            <p style = "padding: 15px; font-size: x-small">Local</p>
                        </div>
                        <div class  = "col-sm-10">
                            <select class="form-control" [(ngModel)]="localSeleccionado" (ngModelChange)="CambiarProductos($event)">
                                <option *ngFor="let local of locales" [ngValue]="local" style = "font-size: x-small">{{local.direccion}}, {{local.localidad}}</option>
                            </select>
                        </div>
                    </div>

                    <div class = "row">
                        <div class = "col-sm-2">
                            <p style = "padding: 15px; font-size: x-small">Destino</p>
                        </div>
                        <div class  = "col-sm-10">
                            <select class="form-control" [(ngModel)]="direccionSeleccionada" (ngModelChange)="CambiarDireccion($event)">
                                <option  style = "font-size: x-small">{{usuario.direccionCompleta}}</option>
                                <option  style = "font-size: x-small">{{direccionUsuario}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="table-responsive vertical-align table-hover" class = "vista2">
                        <table class="table text-center table-hover table-condensed" style = "font-size: x-small; font-style: italic;">
                        <thead style = "color: #222">
                            <th class = "text-center">Img</th>
                            <th class = "text-center">Desc</th>
                            <th class = "text-center">Cant</th>
                            <th></th>
                            <th class = "text-center">$</th>
                            <th></th>
                        </thead>
                        <tr style = "color: #222;" *ngFor = "let producto of productosFiltrados" [ngClass] = "'animated slideInRight ' + (producto.tipo == 'Pizza'? 'danger' : (producto.tipo == 'Empanadas'? 'warning' : 'info'))">
                            <td class = "col-sm-2">
                                <img class = "img-responsive" [src] = "'http://www.romerofederico.hol.es/pizza/ws/img/productos/' + producto.img">
                            </td>
                            <td class = "col-sm-5">
                                {{producto.descripcion}}
                            </td>
                            <td class = "col-sm-1">
                                {{producto.cantidad}}
                            </td>
                            <td class = "col-sm-1">
                                <i class="fa fa-angle-up fa-2x incrementar" aria-hidden="true" (click) = "IncrementarCantidad(producto)"></i>
                                <br>
                                <i class="fa fa-angle-down fa-2x decrementar" aria-hidden="true" (click) = "DecrementarCantidad(producto)"></i>
                            </td>
                            <td class = "col-sm-2" *ngIf = "!ComprobarPromo(producto.promocion)">
                                {{producto.precio * producto.cantidad}}
                            </td>
                            <td class = "col-sm-2" *ngIf = "ComprobarPromo(producto.promocion)">
                                {{producto.precio * 0.75 * producto.cantidad}}
                            </td>
                            <td class = "col-sm-1">
                                <i class="fa fa-trash fa-2x borrar" aria-hidden="true" title = "Quitar" (click) = "QuitarProducto(producto)"></i>
                            </td>
                        </tr>
                        </table>
                    </div>

                    <div class = "row">
                                <div class = "col-sm-6">
                                    <h5 style = "padding: 0px 0px 5px 15px; font-size: small; margin: 0px">Cantidad : {{ObtenerCantidadTotal()}}</h5>
                                    <h5 style = "padding: 0px 0px 5px 15px; font-size: small; margin: 0px">Distancia : {{distanciaSeleccionada}}</h5>
                                </div>
                                <div class = "col-sm-6">
                                    <h5 style = "padding: 0px 0px 5px 15px; font-size: small; margin: 0px">Total : {{ObtenerPrecioTotal()}}$</h5>
                                    <h5 style = "padding: 0px 0px 5px 15px; font-size: small; margin: 0px">Tiempo : {{duracionSeleccionada}}</h5>
                                </div>
                    </div>

                     <button type="button" class="btn btn-danger miPuntero btn-xs btn-block" (click) = "ConfirmarPedido()">
                        <i class = "fa fa-shopping-cart fa-2x" aria-hidden="true"></i> Realizar Pedido
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<footer class="container-fluid">
    <div class = "row row-eq-height">
        <div class = "col-sm-1 col-xs-4">
            <img src="https://avatars3.githubusercontent.com/u/17879446?v=3&s=460" class="img-circle" style = "display: block; max-width:32px; max-height:32px; width: auto; height: auto;">
        </div>
        <div class = "col-sm-3 col-xs-8 filaCentrada">
            <a class = "info" href="https://github.com/RomeroFederico/">Romero Federico</a>
        </div>
        <div class = "col-sm-4 col-xs-8 filaCentrada">
            <p class = "info">Laboratorio IV, Tecnicatura Superior en Programacion</p>
        </div>
        <div class = "col-sm-4 col-xs-8 filaCentrada">
            <p class = "info">UTN FRA</p>
        </div>
    </div>
</footer>