<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2 col-sm-offset-2 sidenav" style = "padding-top: 15px;">
            <div class = "parent">
            <div>
                <img class = "img-responsive img-thumbnail" [src] = "'http://www.romerofederico.hol.es/pizza/ws/img/usuarios/' + user.img">
            </div>
            </div>
            <h4 style = "color: white">Panel de Control</h4>
            <ul class="nav nav-pills nav-stacked opciones">
                <li (click) = "Mostrar('Mi informacion')" [ngClass] = "seleccion == 'Mi informacion'? 'active' : ''"><a >Mi informacion</a></li>
                <li (click) = "Mostrar('Cambiar imagen')" [ngClass] = "seleccion == 'Cambiar imagen'? 'active' : ''"><a>Cambiar imagen</a></li>
            </ul>
        </div>
        <div class= "col-sm-6" *ngIf = "seleccion == 'Mi informacion'">
            <div class = "container-fluid contenedorPrincipal">
                <div class = "contenedorObjetos" style = "min-height: 500px;">
                  
                    <div class="panel panel-danger centrarRegistro">
                    <div class="panel-heading">
                        Sus Datos
                    </div>
                    <div class="panel-body">
                        <div class="row" style = "margin-bottom : 20px;">
                            <div class = "col-sm-2 col-sm-offset-2">
                            <label>Email</label>
                            </div>
                            <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                <input class="form-control" type="email" placeholder="Email" [(ngModel)]="user.email" readonly> 
                            </div>
                            </div>
                        </div>
                        <div class="row" style = "margin-bottom : 20px;">
                            <div class = "col-sm-2  col-sm-offset-2">
                            <label>Password</label>
                            </div>
                            <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                <input class="form-control" type="password" placeholder="Password" [(ngModel)]="user.password" readonly>
                            </div>
                            </div>
                        </div>
                        <div class="row" style = "margin-bottom : 20px;">
                            <div class = "col-sm-2 col-sm-offset-2">
                            <label>Apellido</label>
                            </div>
                            <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-font fa-fw"></i></span>
                                <input class="form-control" type="text" placeholder="Apellido" [value]="user.apellido" (input)="ValidarSoloLetras($event, 'Apellido')" [readonly] = "editar == null" maxlength="20">
                            </div>
                            </div>
                            <i class="fa fa-times-circle fa-2x animated pulse infinite" *ngIf = "vacioApellido && editar" title = "Error, no se ha ingresado nada" style="color : #d9534f"></i>
                        </div>
                        <div class="row" style = "margin-bottom : 20px;">
                            <div class = "col-sm-2 col-sm-offset-2">
                            <label>Nombre</label>
                            </div>
                            <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-font fa-fw"></i></span>
                                <input class="form-control" type="text" placeholder="Nombre" [value]="user.nombre" (input)="ValidarSoloLetras($event, 'Nombre')" [readonly] = "editar == null" maxlength="20">
                            </div>
                            </div>
                            <i class="fa fa-times-circle fa-2x animated pulse infinite" *ngIf = "vacioNombre && editar" title = "Error, no se ha ingresado nada" style="color : #d9534f"></i>
                        </div>
                        <div class="row" style = "margin-bottom : 20px;" *ngIf = "editar != null">
                            <div class = "col-sm-2 col-sm-offset-2">
                            <label>Sexo</label>
                            </div>
                            <div class="col-sm-6">
                            <div class = "col-sm-6">
                            <label class="radio-inline">
                                <input type="radio" value = "Masculino" [(ngModel)]="user.sexo" [checked] = "user.sexo == 'Masculino'"><i class="fa fa-mars fa-fw" style = "color:lightblue"></i> Masculino
                            </label>
                            </div>
                            <div class = "col-sm-6">
                            <label class="radio-inline">
                                <input type="radio" value = "Femenino" [(ngModel)]="user.sexo" [checked] = "user.sexo == 'Femenino'"><i class="fa fa-venus fa-fw" style = "color:pink"></i> Femenino
                            </label>
                            </div>
                            </div>
                        </div>
                        <div class="row" style = "margin-bottom : 20px;" *ngIf = "editar == null">
                            <div class = "col-sm-2 col-sm-offset-2">
                                <label>Sexo</label>
                            </div>
                            <div class="col-sm-6">
                                <label>
                                    <i [ngClass]="user.sexo == 'Masculino'? 'fa fa-mars fa-fw' : 'fa fa-venus fa-fw'" [ngStyle] = "user.sexo == 'Masculino'? {color:'lightblue'} : {color:'pink'}"></i> {{user.sexo}}
                                </label>
                            </div>
                        </div>
                        <div class="row" style = "margin-bottom : 20px;" *ngIf = "editar != null">
                            <div class = "col-sm-2 col-sm-offset-2">
                            <label>Direccion</label>
                            </div>
                            <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
                                <input type="text" class = "form-control" [(ngModel)]="direccion" googleplace/>
                                <span class="input-group-btn">
                                <button *ngIf = "cargandoPosicion == null && errorCargandoPosicion == null" class="btn btn-default" type="button" title="Obten tu ubicacion" (click) = "ObtenerDireccionUsuario()"><i class="fa fa-street-view fa-fw"></i></button>
                                <button *ngIf = "cargandoPosicion" class="btn btn-default" type="button" title="Cargando posicion..."><i class="fa fa-cog fa-spin fa-fw"></i></button>
                                <button *ngIf = "errorCargandoPosicion" class="btn btn-danger" type="button" title="Error, vuelva a intentarlo" (click) = "ReintentarObtenerDireccionUsuario()"><i class="fa fa-exclamation-triangle fa-fw"></i></button>
                                </span> 
                            </div>
                            </div>
                            <i class="fa fa-times-circle fa-2x animated pulse infinite" *ngIf = "validarDireccion && editar" title = "Direccion no valida" style="color : #d9534f"></i>
                            <i class="fa fa-times-circle fa-2x animated pulse infinite" *ngIf = "vacioDireccion && editar" title = "Error, no se ha ingresado nada" style="color : #d9534f"></i>
                        </div>
                        <div class="row" style = "margin-bottom : 20px;" *ngIf = "editar == null">
                            <div class = "col-sm-2 col-sm-offset-2">
                            <label>Direccion</label>
                            </div>
                            <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
                                <textarea class="form-control" rows="3" [(ngModel)]="user.direccionCompleta" readonly></textarea> 
                            </div>
                            </div>
                        </div>
                        <div class="row" style = "margin-bottom : 20px;">
                            <div class = "col-sm-2 col-sm-offset-2">
                            <label>Telefono</label>
                            </div>
                            <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                                <input [value]="user.telefono" (input)="ValidarSoloNumeros($event)" class="form-control" type="text" placeholder="Telefono" [readonly] = "editar == null" maxlength="20">
                            </div>
                            </div>
                            <i class="fa fa-times-circle fa-2x animated pulse infinite" *ngIf = "vacioTelefono && editar" title = "Error, no se ha ingresado nada" style="color : #d9534f"></i>
                        </div>
                        <br>
                        <div class="form-group row">
                            <div class = "col-sm-4  col-sm-offset-2" *ngIf = "editar != null">
                            <button type="submit" class="btn btn-success btn-block" [disabled] = "cargando" (click) = "Modificar()">
                                <i class="fa fa-pencil-square-o fa-lg"></i> 
                                Modificar
                            </button>
                            </div>
                            <div class="col-sm-4" *ngIf = "editar != null">
                            <button type="submit" class="btn btn-danger btn-block" [disabled] = "cargando" (click) = "CancelarModificacion()">
                                <i class="fa fa-arrow-left fa-lg"></i> 
                                Cancelar
                            </button>
                            </div>
                            <div class="col-sm-4 col-sm-offset-6" *ngIf = "editar == null">
                            <button type="submit" class="btn btn-warning btn-block" (click) = "HabilitarModificacion()">
                                <i class="fa fa-pencil-square-o fa-lg"></i> 
                                Modificar
                            </button>
                            </div>
                        </div>
                    </div>
                    </div>

                </div>
            </div>
        </div>

        <div class= "col-sm-6" *ngIf = "seleccion == 'Cambiar imagen'">
            <div class = "container-fluid contenedorPrincipal">
                <div class = "contenedorObjetos" style = "min-height: 500px;">
                  
                    <div class="panel panel-danger centrarRegistro" style = "min-height: 450px;">
                    <div class="panel-heading">
                        Cambiar imagen de perfil
                    </div>
                    <div class="panel-body">
                        
                        <div class = "row" style = "min-height: 350px;">

                            <div class = "col-sm-7">
                                <h5><i class="fa fa-cube" aria-hidden="true"></i>Seleccione una imagen:</h5>
                                <input #myInput1 type="file" ng2FileSelect [uploader]="uploader1" (change) = "uploader1.queue.length != 0? Subir() : MostrarConsola('Nada')" style = "color : black"/>
                                <div class="progress" style="margin-bottom: 0;" *ngIf = "uploader1.queue.length != 0 || imagenAnterior != user.img">
                                    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" [ngStyle]="{ 'width': (uploader1.queue.length != 0? uploader1.queue[0].progress : '100') + '%' }"></div>
                                </div>
                                <p *ngIf = "uploader1.queue.length != 0">{{uploader1.queue[0].progress}}</p>
                            </div>

                            <div class = "col-sm-5">

                                <div style = "width: 150px; height: 150px; border-radius: 10px; border-style : solid; border-color: black">

                                    <div class = "col-sm-12 cargando parent" style = "height: 140px;" *ngIf = "imagenAnterior == user.img">
                                        <div class = "child">
                                        <img [src] = "'http://www.romerofederico.hol.es/pizza/ws/img/usuarios/' + imagenAnterior" style = "display: block; max-width:120px; max-height:120px; width: auto; height: auto;">
                                        </div>
                                    </div>

                                    <div class = "col-sm-12 cargando parent" style = "height: 140px;" *ngIf = "imagenAnterior != user.img">
                                        <div class = "child">
                                        <img [src] = "'http://www.romerofederico.hol.es/pizza/ws/tmp/usuarios/' + imagenAnterior" style = "display: block; max-width:120px; max-height:120px; width: auto; height: auto;">
                                        </div>
                                    </div>

                                </div>
                            
                            </div>
                            
                        </div>

                        <div class="panel-footer">

                        <div class="col-sm-4 col-sm-offset-7" *ngIf = "editar == null">
                            <button type="submit" class="btn btn-success btn-block" (click) = "ModificarImagen()" [disabled] = "cargando != null">
                                <i class="fa fa-pencil-square-o fa-lg"></i> 
                                Modificar
                            </button>
                        </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
        </div>
        
    </div>
</div>
