<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4 style = "color: white">Mis Pedidos</h4>
            <ul class="nav nav-pills nav-stacked opciones">
                <li class="active"><a>Actual</a></li>
                <li><a>En espera</a></li>
                <li><a>Recibidos</a></li>
            </ul>
        </div>
        <div class= "col-sm-9">
            <div class = "container-fluid contenedorPrincipal">
                <div class = "contenedorObjetos" style = "height: 500px;" *ngIf = "pedidoActual == null">
                    <div class = "col-sm-12 cargando parent" style = "height: 500px;">
                        <div class = "child">
                            <i class="fa fa-cart-arrow-down fa-5x fa-fw" style = "color: white"></i><br>
                            <h2 style = "color: white">No hay ningun pedido actual.</h2>
                            <h3 style = "color: white">Haga un pedido en nuestro listado de <a>Productos</a> o en el listado de <a>Locales</a></h3>
                        </div>
                    </div>
                </div>
                <div class = "contenedorObjetos" style = "height: 500px;" *ngIf = "pedidoActual != null && pedido == null">
                    <div class = "col-sm-12 cargando parent" style = "height: 500px;">
                        <div class = "child">
                            <i class="fa fa-cog fa-spin fa-5x fa-fw" style = "color: white"></i><br>
                            <h2 style = "color: white">Cargando detalles del pedido</h2>
                        </div>
                    </div>
                </div>
                <div class = "contenedorObjetos" *ngIf = "pedidoActual != null && pedido != null">
                    <div *ngIf = "pedidoActual != null" style = "color: white">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-left">
                                    <img class="media-object img-thumbnail" [src]="'assets/images/locales/' + pedido.local.img1" style = " display: block; max-width:150px; max-height:150px; width: auto; height: auto;">
                                </div>
                                <div class="media-body">
                                    <blockquote>
                                    <div style = "height : 130px; color: white">
                                        <h4 class="media-heading">{{pedido.local.direccion}}</h4>
                                        <h5>{{pedido.local.localidad}}</h5>
                                        <h6><span class="glyphicon glyphicon-phone-alt"></span> Tel : {{pedido.local.telefono}}</h6>
                                        <small><i>Distancia: {{pedidoActual.distancia}}</i></small>
                                        <small><i>Tiempo aprox.: {{pedidoActual.tiempo}}</i></small>
                                    </div>
                                    </blockquote>
                                    <div class="media" *ngFor = "let producto of pedido.productos">
                                        <div class = "media">
                                            <div class="media-left">
                                                <img class="media-object img-thumbnail" [src]="'assets/images/productos/' + producto.img" style = " display: block; max-width:100px; max-height:100px; width: auto; height: auto;">
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading"><span [ngClass] ="producto.tipo == 'Pizza'? 'label label-danger' : (producto.tipo == 'Empanadas'? 'label label-warning':'label label-info')">{{producto.tipo}}</span></h4>
                                                <h5><i>{{producto.descripcion}}</i></h5>
                                                <br>
                                                <p *ngIf = "!ComprobarPromo(producto.promocion)"><strong>Precio: {{producto.precio}}$</strong></p>
                                                <p *ngIf = "ComprobarPromo(producto.promocion)"><strong>Precio: <s>{{producto.precio}}$</s> {{producto.precio * 0.75}}$</strong></p>
                                            </div>
                                            <div class = "media-right">
                                                <img *ngIf = "ComprobarPromo(producto.promocion)" title = "Dia de Promocion" src="assets/images/promo.png" width="75px" height="75px" class = "pulse animated infinite">
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div style = "height : 100px">
                            <div class = "row">
                                <div class = "col-sm-6">
                                    <h4>Cantidad de productos : {{pedido.productos.length}}</h4>
                                </div>
                                <div class = "col-sm-6">
                                    <h4>Total : {{pedido.precio}}$</h4>
                                </div>
                            </div>
                            <br>
                            <div class = "row">
                                <div class = "col-sm-4">
                                    <button class="btn btn-success btn-block">
                                        <i class="fa fa-credit-card-alt fa-lg"></i> 
                                        Pedir
                                    </button>
                                </div>
                                <div class = "col-sm-4">
                                    <button class="btn btn-warning btn-block">
                                        <i class="fa fa-pencil-square-o fa-lg"></i> 
                                        Modificar
                                    </button>
                                </div>
                                <div class = "col-sm-4">
                                    <button class="btn btn-danger btn-block">
                                        <i class="fa fa-times fa-lg"></i> 
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
