<div class="container-fluid center_div">

      <div class="alert alert-warning" role="alert" *ngIf = "mostrarMensaje">
        {{mensajeMostrar}}
      </div>

      <div class="alert alert-danger" role="alert" *ngIf = "mostrarError">
        <strong>ERROR!</strong> Ocurrio un problema en el servidor, vuelva a intentarlo.
      </div>

      <div class="alert alert-info" *ngIf = "mostrarInfo">
        <strong>INFORMACION: </strong>{{mensaje}}
      </div>

      <div class="alert alert-info" *ngIf = "cargando">
        <strong>Cargando: </strong>Espere un momento...
      </div>

   <div class="panel panel-success centrarRegistro">
              <div class="panel-heading">
                {{modifico == null? 'Registro de producto' : 'Modificar producto'}}
              </div>
              <div class="panel-body">

                  <div class="row" style = "margin-bottom : 20px;">
                    <div class = "col-sm-2 col-sm-offset-2">
                      <label>Descripcion</label>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-commenting-o fa-fw"></i></span>
                        <input [(ngModel)]="producto.descripcion" class="form-control" type="text" placeholder="Descripcion" maxlength="30">
                      </div>
                    </div>
                    <i class="fa fa-times-circle fa-2x animated pulse infinite" *ngIf = "vacioDescripcion" title = "Error, no se ha ingresado nada" style="color : orange"></i>
                  </div>

                  <div class="row" style = "margin-bottom : 20px;">
                    <div class = "col-sm-2 col-sm-offset-2">
                      <label>Precio</label>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-usd fa-fw"></i></span>
                        <input [(ngModel)]="producto.precio" class="form-control" type="number" placeholder="Precio">
                      </div>
                    </div>
                    <i class="fa fa-times-circle fa-2x animated pulse infinite" *ngIf = "vacioPrecio" title = "Error, no se ha ingresado nada" style="color : orange"></i>
                  </div>

                  <div class="row" style = "margin-bottom : 20px;">
                    <div class = "col-sm-2 col-sm-offset-2">
                      <label>Tipo</label>
                    </div>
                    <div class="col-sm-6">
                      <select class="form-control" [(ngModel)]="producto.tipo">
                        <option value = "Pizza">Pizza</option>
                        <option value = "Empanadas">Empanadas</option>
                        <option value = "Combo">Combo</option>
                      </select>
                    </div>
                  </div>

                  <div class="row" style = "margin-bottom : 20px;">
                    <div class = "col-sm-2 col-sm-offset-2">
                      <label>Dia de promocion</label>
                    </div>
                    <div class="col-sm-6">
                      <select class="form-control" [(ngModel)]="producto.promocion">
                        <option value = "Lunes">Lunes</option>
                        <option value = "Martes">Martes</option>
                        <option value = "Miercoles">Miercoles</option>
                        <option value = "Jueves">Jueves</option>
                        <option value = "Viernes">Viernes</option>
                        <option value = "Sabado">Sabado</option>
                      </select>
                    </div>
                  </div>
                  
                    <div class = "row" style = "margin-bottom : 20px;">

                      <div class = "col-sm-4 col-sm-offset-2">
                        <h5><i class="fa fa-cube" aria-hidden="true"></i> Imagen</h5>
                        <input #myInput1 type="file" ng2FileSelect [uploader]="uploader1" (change) = "uploader1.queue.length != 0? Subir(0) : MostrarConsola('Nada')" [disabled] = "cargando != null"/>
                        <div class="progress" style="margin-bottom: 0;" *ngIf = "uploader1.queue.length != 0 || img1 != null">
                          <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" [ngStyle]="{ 'width': (uploader1.queue.length != 0? uploader1.queue[0].progress : '100') + '%' }"></div>
                        </div>
                      </div>

                      <div class = "col-sm-4 col-sm-offset-2">

                        <div style = "width: 150px; height: 150px; border-radius: 10px; border-style : solid; border-color: lightgreen">

                          <div class = "col-sm-12 cargando parent" style = "height: 140px;" *ngIf = "img1 == null && producto.img == 'default.png'">
                            <div class = "child">
                              <img src = "http://www.romerofederico.hol.es/pizza/ws/img/productos/default.png" style = "display: block; max-width:120px; max-height:120px; width: auto; height: auto;">
                            </div>
                          </div>

                          <div class = "col-sm-12 cargando parent" style = "height: 140px;" *ngIf = "img1 != null">
                            <div class = "child">
                              <img [src] = "'http://www.romerofederico.hol.es/pizza/ws/tmp/productos/' + img1" style = "display: block; max-width:120px; max-height:120px; width: auto; height: auto;">
                            </div>
                          </div>

                          <div class = "col-sm-12 cargando parent" style = "height: 140px;" *ngIf = "img1 == null && producto.img != 'default.png'">
                            <div class = "child">
                              <img [src] = "'http://www.romerofederico.hol.es/pizza/ws/img/productos/' + producto.img" style = "display: block; max-width:120px; max-height:120px; width: auto; height: auto;">
                            </div>
                          </div>

                        </div>
                      
                      </div>
                    
                    </div>

                  <br>
                  <div class="form-group row">
                    <div class = "col-sm-4  col-sm-offset-2">
                      <button type="submit" class="btn btn-success btn-block" [disabled] = "cargando" (click) = "Registrarse()">
                        <i class="fa fa-cutlery fa-lg"></i> 
                        {{modifico == null? 'Registrar' : 'Modificar'}}
                      </button>
                    </div>
                    <div class="col-sm-4">
                      <button type="submit" class="btn btn-danger btn-block" [disabled] = "cargando" (click) = "CancelarRegistro()">
                        <i class="fa fa-arrow-left fa-lg"></i> 
                        Cancelar
                      </button>
                    </div>
                  </div>
              </div>
  </div>

</div>
